<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" th:remove="all"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <title>Hello WebSocket</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
  <link rel="stylesheet" href="/css/normalize.min.css" />
  <link rel="stylesheet" href="/css/milligram.min.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
</head>


<body>
<div class="container">
  <div class="row">
    <div class="column column-20 menu">
      <div class="menu-include mobile_none" id="sub-menu">
        <div class="menu__header">
          <div th:if="${loginUser != null}" class="entry_button"><h3 th:text="${loginUser.userNickname}">User</h3></div><div th:if="${loginUser == null}" class="entry_button"><h3>ChatGo</h3></div>
          <div class="icon-menu">メニュー｜<div th:if="${loginUser != null}" class="entry_button"><a th:href="@{'/users/' + ${loginUser.userId}}" href="/users/1"><i class="material-icons">account_circle</i></a>
            <form th:action="@{/logout}" method="POST" name="logout" style="float: right; margin: 0;">
              <a href="javascript:logout.submit()">
                <i class="material-icons">lock_outline</i>
              </a>
            </form>
          </div><div th:if="${loginUser == null}" class="entry_button"><a href="/user/signup"><i class="material-icons">lock_outline</i></a></div></div>
        </div>
        <div class="menu__rooms">
          <div class="menu__rooms--head">
            <p class="left__icon">ルーム</p><p class="right__icon"><a href="/rooms/new"><i class="material-icons">add_circle_outline</i></a></p>
          </div>
          <div class="menu__rooms--list" id="menu__rooms">
            <ul>
              <li th:each="room : ${rooms}" class="room__link"><a href="/rooms/1" th:href="@{'/rooms/' + ${room.id} + '/messages'}" th:text="${room.name}" title="チャットルーム" style="color: #606c76;">ルーム</a></li>
            </ul>
          </div>
        </div>
        <div>
          <form class="bottom" action="/rooms/search" accept-charset="UTF-8" method="get">
            <fieldset class="bottom">
              <input class="bottom" type="text" placeholder="&#x1F50D; ルーム検索" id="roomField" name="keyword" value="" />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="messages">
        <div class="messages--box">
          <div class="messages--header">
            <h3><i class="material-icons">group</i>talkroom</h3>
            <div class="messages--header__right pc_none">
              <div th:if="${loginUser == null}" class="entry_button">
                <a th:href="@{/login}"><i class="material-icons">question_answer</i></a><a th:href="@{/login}"><i class="material-icons">lock_outline</i></a>
              </div>
              <div th:if="${loginUser != null}" class="entry_button">
                <a th:href="@{'/users/' + ${loginUser.userId}}" href="/users/1"><i class="material-icons">account_circle</i></a><a href="/login"><i class="material-icons">question_answer</i></a>
                <form th:action="@{/logout}" method="POST" name="logoutMobi" style="float: right; margin: 0;">
                  <a href="javascript:logoutMobi.submit()">
                    <i class="material-icons">lock_outline</i>
                  </a>
                </form>
              </div>

            </div>
          </div>
          <div class="messages--content">
            <div class="message" th:each="message : ${room.messages}">
              <div class="message__userphoto--container">
                <div class="message__userphoto" style="background-image: url(/pic/default_profile.png)"></div></div>
              <div class="message--content__container"><div class="message__username">username</div>
                <div class="message__timestamp" th:text="${message.created_at}" th:name="created_at">2019/01/10</div>
                <div class="message__text" th:text="${message.body}" th:name="body"><p>Hoping today will be the most awesome day for you.</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="message--form">
        <form class="bottom" accept-charset="UTF-8" action="/rooms/1" method="post">
          <fieldset class="bottom">
            <div class="row message--form__layout">
              <div class="column"><input type="text" placeholder="メッセージを入力" id="nameField" class="bottom" /></div>
              <div class="mobile_none"><div class="submit_button"><input class="button-primary bottom" type="submit" value="送信" /></div></div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
