<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" th:remove="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>Hello WebSocket</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"/>
    <link rel="stylesheet" href="/css/normalize.min.css"/>
    <link rel="stylesheet" href="/css/milligram.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/app.js"></script>
</head>

<body>
<div th:if="${loginUser != null}"><script th:inline="javascript">
    /*<![CDATA[*/

    var viewusername = /*[[${loginUser.userNickname}]]*/ 'Sebastian';

    /*]]>*/
</script></div>
<div class="container">
    <div class="row">
        <div class="column column-20 menu">
            <div class="menu-include mobile_none" id="sub-menu">
                <div class="menu__header">
                    <div th:if="${loginUser != null}" class="entry_button"><h3 th:text="${loginUser.userNickname}">
                        User</h3></div>
                    <div th:if="${loginUser == null}" class="entry_button"><h3><a th:href="@{/}">ChatGo</a></h3></div>
                    <div class="icon-menu">メニュー｜
                        <div th:if="${loginUser != null}" class="entry_button"><a
                                th:href="@{'/users/' + ${loginUser.userId}}" href="/users/1"><i class="material-icons">account_circle</i></a>
                            <form th:action="@{/logout}" method="POST" name="logout" style="float: right; margin: 0;">
                                <a href="javascript:logout.submit()">
                                    <i class="material-icons">lock_outline</i>
                                </a>
                            </form>
                        </div>
                        <div th:if="${loginUser == null}" class="entry_button"><a href="/user/signup"><i
                                class="material-icons">lock_outline</i></a></div>
                    </div>
                </div>
                <div class="menu__rooms">
                    <div class="menu__rooms--head">
                        <p class="left__icon">ルーム</p>
                        <p class="right__icon"><a href="/rooms/new"><i class="material-icons">add_circle_outline</i></a>
                        </p>
                    </div>
                    <div class="menu__rooms--list" id="menu__rooms">
                        <ul>
                            <li th:each="room : ${rooms}" class="room__link"><a href="/rooms/1"
                                                                                th:href="@{'/rooms/' + ${room.id} + '/messages'}"
                                                                                th:text="${room.name}" title="チャットルーム"
                                                                                style="color: #606c76;">ルーム</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <form class="bottom" action="/rooms/search" accept-charset="UTF-8" method="get">
                        <fieldset class="bottom">
                            <input class="bottom" type="text" placeholder="&#x1F50D; ルーム検索" id="roomField"
                                   name="keyword" value=""/>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="messages">
                <div class="messages--box" id="messages--box">
                    <div class="messages--header">
                        <div th:if="${room == null}">
                        <h3>全てのトーク</h3>
                        </div>
                        <div th:if="${room != null}">
                            <h3 th:text="${room.name}">トーク名</h3>

                        </div>
                        <div class="messages--header__right pc_none">
                            <div th:if="${loginUser == null}" class="entry_button">
                                <a th:href="@{/rooms/search}"><i class="material-icons">question_answer</i></a><a
                                    th:href="@{/login}"><i class="material-icons">lock_outline</i></a>
                            </div>
                            <div th:if="${loginUser != null}" class="entry_button">
                                <a th:href="@{'/users/' + ${loginUser.userId}}" href="/users/1"><i
                                        class="material-icons">account_circle</i></a><a th:href="@{/rooms/search}"><i
                                    class="material-icons">question_answer</i></a>
                                <form th:action="@{/logout}" method="POST" name="logoutMobi"
                                      style="float: right; margin: 0;">
                                    <a href="javascript:logoutMobi.submit()">
                                        <i class="material-icons">lock_outline</i>
                                    </a>
                                </form>
                            </div>
                            <a href="#latest" style="text-align: right"><i class="material-icons">details</i></a>
                        </div>
                        <div class="switch" th:if="${loginUser != null}" ><input type="checkbox" class="connect__switch" id="checkable" name="checkable" /><label class="connect__label" for="checkable" ></label></div>
                    </div>

                    <div class="messages--content" >
                            <div class="message" th:each="message : ${messages}">
                            <div class="message__userphoto--container">
                                <div th:if="${message.user.getProfilePhoto() != null}">
                                <div class="message__userphoto"
                                     th:style="|background-image: url(/users/${message.user.id}/profile-photo.jpg);|"></div>
                                </div>
                                <div th:if="${message.user.getProfilePhoto() == null}">
                                    <div class="message__userphoto"
                                         style="background-image: url(/pic/default_profile.png)"></div>
                                </div>
                            </div>
                            <div class="message--content__container">
                                <div class="message__username" th:text="${message.user.nickname}">username</div>
                                <div class="message__timestamp" th:text="${message.getCreatedAt()}" th:name="created_at">
                                    2019/01/10
                                </div>
                                <div class="message__text" th:text="${message.getBody()}" th:name="body"><p>Hoping today will
                                    be the most awesome day for you.</p></div><span style="float: right" th:if="${room == null}">at <a th:href="@{'/rooms/' + ${message.room.id} +'/messages'}" th:text="${message.room.name}"></a></span>
                            </div>
                        </div>
                        <div class="message" id="message">
                        </div>
                    </div>
                    <div id="latest"></div>
                </div>
            </div>
            <div class="message--form" th:if="${room != null}">
                <form accept-charset="UTF-8" class="bottom">
                    <fieldset class="bottom">
                        <div class="row message--form__layout">
                            <div class="column"><input type="text" name="body" placeholder="メッセージを入力" id="bodyField" class="bottom"/><input type="hidden" name="roomId" id="roomId" th:value="${room.id}"/></div>
                            <div class="mobile_none">
                                <div class="submit_button"><input id="send" class="button-primary bottom" type="submit"
                                                                  value="送信"/></div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
                <div class="message--form" style="display: flex" th:if="${loginUser == null and room == null}">
                    <a class="button outer" th:href="@{/login}">投稿するにはログイン</a>
                </div>
        </div>
    </div>
</div>
</body>
</html>
