<!DOCTYPE html>
<html>
<head>
  <title>Hello WebSocket</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="normalize.min.css">
  <link rel="stylesheet" href="milligram.min.css">
  <link rel="stylesheet" href="main.css">
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>
  <div class="row">
    <div class="column">
      <div class="login--left_content mobile_none">
          <div class="start_header">
            <h1 class="app_name"><a class="app_name" href="index.html">ChatGo</a></h1>
          </div>
          <div class="login--left_content__message mobile_none">
            <h2>ルーム検索</h2>
            <p>既存チャットルームの検索結果です。</p>
          </div>
      </div>
    </div>
    <div class="column">
      <div class="login--right_content">
        <div class="login_form">
          <div class="pc_none">
            <h1 class="app_name">ルーム検索</h1>
            <h5>チャットルームの検索結果です</h5>
          </div>
          <div class="new-group"><input class="button-small" type="button" value=" ルームの新規作成" onClick="location.href='newroom.html'"></div>
          <div class="search-form">
            <form>
              <fieldset>
                <input class="bottom" type="text" placeholder="&#x1F50D; ルーム検索" id="roomField">
              </fieldset>
            </form>
          </div>
          <div class="search_result">
            <table>
              <tbody>
                <tr>
                  <td>Stephen Curry</td>
                </tr>
                <tr>
                  <td>Klay Thompson</td>
                </tr>
                  <td>Stephen Curry</td>
                </tr>
                <tr>
                  <td>Klay Thompson</td>
                </tr>
                  <td>Stephen Curry</td>
                </tr>
                <tr>
                  <td>Klay Thompson</td>
                </tr>
                  <td>Stephen Curry</td>
                </tr>
                <tr>
                  <td>Klay Thompson</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
