<!DOCTYPE html>
<html>
<head>
  <title>Hello WebSocket</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="/css/normalize.min.css">
  <link rel="stylesheet" href="/css/milligram.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>
  <div class="row">
    <div class="column">
      <div class="login--left_content mobile_none">
          <div class="start_header">
            <h1 class="app_name"><a class="app_name" href="index.html">ChatGo</a></h1>
          </div>
          <div class="profile--left_content__message mobile_none">
            <div class="profile__userphoto" style="background-image: url(http://eiga.k-img.com/images/person/52715/300x.jpg)"></div>
            <h2 class="profile--name">プロフィールを編集</h2>
          </div>
      </div>
    </div>
    <div class="column">
      <div class="login--right_content">
        <div class="login_form">
          <div class="pc_none">
            <h1 class="app_name">ChatGo</h1>
            <h3>プロフィールを編集</h3>
            <div class="profile__userphoto--right" style="background-image: url(http://eiga.k-img.com/images/person/52715/300x.jpg)"></div>
          </div>
          <form>
            <fieldset>
              <label for="file_photo" class="file_photo">
              <input type="file" id="file_photo" style="display:none;">プロフィール画像を変更する
              </label>
              <label for="nameField">Username</label>
              <input type="text" placeholder="username" id="nameField">
              <label for="nameField">Email</label>
              <input type="text" placeholder="example@example.com" id="nameField">
              <label for="nameField">新しいPassword</label>
              <input type="text" placeholder="新しいパスワード" id="nameField">
              <label for="nameField">新しいPasswordの確認</label>
              <input type="text" placeholder="パスワードを再度入力" id="nameField">
              <input class="button-primary" type="submit" value="更新">
            </fieldset>
          </form>
          <a href="show.html">プロフィールに戻る</a>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
