<!DOCTYPE html>
<html>
<head>
  <title>Hello WebSocket</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="/css/normalize.min.css">
  <link rel="stylesheet" href="/css/milligram.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>
  <div class="row">
    <div class="column">
      <div class="login--left_content mobile_none">
          <div class="start_header">
            <h1 class="app_name"><a class="app_name" href="index.html">ChatGo</a></h1>
          </div>
          <div class="login--left_content__message mobile_none">
            <h2>サインアップ</h2>
            <p>このアプリケーションで投稿するには、ユーザー登録が必要です。左のフォームで必要情報を入力してください。</p>
          </div>
      </div>
    </div>
    <div class="column">
      <div class="login--right_content">
        <div class="login_form">
          <div class="pc_none">
            <h1 class="app_name">ChatGo</h1>
            <h5>このアプリケーションを利用するには、登録が必要です。</h5>
          </div>
          <form>
            <fieldset>
              <label for="nameField">Username</label>
              <input type="text" placeholder="username" id="nameField">
              <label for="nameField">Email</label>
              <input type="text" placeholder="example@example.com" id="nameField">
              <label for="nameField">Password</label>
              <input type="text" placeholder="パスワードを入力" id="nameField">
              <label for="nameField">Passwordの確認</label>
              <input type="text" placeholder="パスワードを再度入力" id="nameField">
              <input class="button-primary" type="submit" value="Login">
            </fieldset>
          </form>
          <a href="login.html">ログイン</a>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
