<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" th:remove="all" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <title>Hello WebSocket</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
  <link rel="stylesheet" href="/css/normalize.min.css" />
  <link rel="stylesheet" href="/css/milligram.min.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
</head>

<body>
  <div class="row">
    <div class="column">
      <div class="login--left_content mobile_none">
          <div class="start_header">
            <h1 class="app_name"><a class="app_name" href="../chat/index.html">ChatGo</a></h1>
          </div>
          <div class="login--left_content__message mobile_none">
            <h2>ルーム作成</h2>
            <p>チャットルームを新しく作ります</p>
          </div>
      </div>
    </div>
    <div class="column">
      <div class="login--right_content">
        <div class="login_form">
          <div class="pc_none">
            <h1 class="app_name">ルーム作成</h1>
            <h5>チャットルームを新しく作ります</h5>
          </div>
          <div class="search-form">
            <form th:action="@{/rooms/new}" method="post" th:object="${roomForm}">
              <fieldset>
                <div class="row message--form__layout" style="border-top: none;">
                  <div class="column"><input type="text" placeholder="ルーム名を入力" id="nameField" th:feild="*{name}" th:errorclass="error-field" name="name" /></div>
                  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="help-block">error!</span>
                  <div class="submit_button"><input class="button-primary" type="submit" value="作成" style="width: 100%;" /></div>
                </div>
                <input class="bottom" type="text" placeholder="&#x1F50D; 加入ユーザー名を検索" id="roomField" />
              </fieldset>
            </form>
          </div>
          <div class="search_result">
            <table>
              <tbody>
                <tr>
                  <td>
                    <input type="checkbox" id="name_checkbox1" /><label for="name_checkbox1" class="bottom">name1
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <input type="checkbox" id="name_checkbox2" /><label for="name_checkbox2" class="bottom">name1
                  </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
